# ========================
# Miscellaneous
# ========================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# ========================
# IntelliJ / Android Studio
# ========================
*.iml
*.ipr
*.iws
.idea/
.android/

# ========================
# VSCode (uncomment if needed)
# ========================
#.vscode/

# ========================
# Flutter / Dart / Pub
# ========================
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# ========================
# Android Build Artifacts
# ========================
/android/app/debug
/android/app/profile
/android/app/release

# ========================
# Android Signing Keys & Properties
# ========================
/android/key.properties
/android/*.jks
/android/*.keystore
/android/app/*.jks
/android/app/*.keystore
*.jks
*.keystore
*.pem
*.key
*.crt
*.p12
*.pfx

# ========================
# Obfuscation & Symbolication
# ========================
app.*.symbols
app.*.map.json

# ========================
# Fastlane / Code Signing
# ========================
fastlane/Matchfile
fastlane/credentials.json
fastlane/*.p12
fastlane/*.mobileprovision
